
body{
    background: ghostwhite;
    }
.article{width:700px;height: 1150px;margin:0 auto
}
header{font-size: 46px;text-align: center;font-weight: bold; background: url("../oo.jpg")center;-webkit-background-clip: text;margin-top: 10px;
-webkit-text-fill-color: transparent;}

.zuo{width:700px;height:350px;background: #DDDDDD;}
.tu{display: block;  width: 70px;height:70px;
  border-radius: 50%;margin-left:170px;margin-top: 20px;}
h1{padding-left: 100px;padding-top: 20px;padding-bottom:10px;float: none;}
h2{margin-top: 20px;margin-bottom: 15px;margin-left:178px;}
h3{border-bottom: 2px solid #999999;
    width: 30px;letter-spacing:3px;line-height:30px;margin-top: 10px;margin-left: 20px;margin-right: 20px;}
h6{line-height:30px;margin-left:155px;margin-top: 5px;margin-bottom: 5px}
h5{border-bottom: 2px solid #DDDDDD;  width:350px;letter-spacing:3px;margin-top: 20px;margin-left: 10px;
}
p{line-height: 28px;letter-spacing: 2px;margin-left: 8px;margin-right: 10px;font-size: 10px;margin-top: 2px }
.you{width: 540px;height:800px;background: cadetblue;
padding-top: 30px;padding-left: 10px ;float:left; }
.yi{float:left;margin-left: 25px;margin-right: 45px}
.er{float:left;}

@media all and (max-width: 640px) {
    .article{ width:100%;box-sizing: border-box}
    .zuo{width: 100%}
    .you{width: 100%;box-sizing: border-box}
    p{line-height: 24px;letter-spacing:0; }
    h5,h3{  width:100%;margin-left:0;text-indent: 1em}

}

